<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Messages</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			// sending a connect request to the server.
			var socket = io.connect('{{url}}', { path: '{{path}}/socket.io' });

            socket.on('after connect', function(msg){
            	console.log('After connect', msg);
            });

            socket.on('message', function(msg) {
            	console.log('Message received', msg);
            });

						socket.on('audio', function(msg) {
							var img = document.getElementById('pow');
							var message = document.getElementById('message');
							message.innerHTML = msg.message;
							message.style.visibility = "visible";
							img.style.visibility = "visible";
							var audio = document.createElement('audio');
							audio.style.display = "none";
							audio.src = msg.audioURL;
							audio.autoplay = true;
							audio.onended = function() {
								audio.remove()
								img.style.visibility = "hidden";
								message.style.visibility = "hidden";
							};
							document.body.appendChild(audio);
						});
		});
	</script>
</head>
<body>
	<div class="content-wrapper">
		<img id="pow" src="/static/Pow_01_Red.png">
		<div class="text-wrapper">
			<h1 id="message">Pizza Time</h1>
		</div>
	</div>
</body>
</html>
